.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em 0 4em;
    gap: 1em; 
}

.intro-text, .simulatie-text {
    flex: 1; 
}

.intro-image, .ervaring-visualisatie {
    flex: 1; 
    text-align: center;
}

.intro-image img, .ervaring-visualisatie img {
    max-width: 100%;
    height: auto;
}

.monoculair-description {
    flex: 1; 
    margin-top: 1em;
    max-width: 50%; 
    line-height: 1.6;
}

.monoculair-description p {
    margin: 0; 
}

.find-item-button {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

button {
    border: 1px solid #33333371;
    border-radius: 10px;
    padding: 7px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto; 
    background-color: #0f9e56;
    color: white;
}